<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); -%>
</head>
<body ng-app="app.music" ng-controller="mainCtrl">
  <div id="wrapper">
    <div class="wrapper_page">
      <%- include('partials/header'); -%>

      <section ng-view>
      </section>
      
      <%- include('partials/footer'); -%>
    </div>
  </div>
  
  <%- include('partials/modal'); -%>
  <%- include('partials/scripts'); -%>


</body>
</html>